body {
  background-color: lightgray;
}

header {
  background-color: maroon;
  color: white;
  padding: 20px;
  text-align: center;
}

h1, h2 {
  text-align: center;
  font-family: "Oswald", sans-serif;
}

#container {
  margin: 2% 2% 2% 2%;
}

.hobbies, .experience, #contact {
  text-align: center;
}

.hobby-cards, .experience-cards {
  text-align: center;
  display: flex;
  justify-content: center;
}

.hobbies .card, .experience .card {
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  margin: 10px;
  background-color: #f9dbe3;
  border-radius: 10px;
  border: solid 2px #9c7491;
}

.card-title, figcaption {
  text-align: center;
  font-weight: 500;
  color: #4c7eb2;
}

.form {
  text-align: center;
}

footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: white;
  font-weight: bold;
}

footer a:hover {
  color: #4c7eb2;
}

.copyright {
  font-weight: 300;
  display: inline-block;
  width: 30%;
  text-align: center;
  
}
.landingPage {
  display: inline-block;
  width: 30%;
  text-align: center;
}