header {
  background-color: blueviolet;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  border: solid 2px red;
}

footer{
  background-color: blueviolet;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer p{
  color: white;
  font-weight: 400;
  float: right;
  padding-right: 10px;
  font-style: italic;
}

footer a{
  text-decoration: none;
  color: white;
}

footer a:hover{
  text-decoration: underline;
}

#copyright{
  float: left;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: white;
}

h2 {
  text-align: center;
  color: blueviolet;
  letter-spacing: 0.25em;
}

h3 {
  color: turquoise;
  letter-spacing: 0.125em;
}

#container {
  margin: 2% 2% 2% 2%;
}

hr {
  border: 1px solid black;
  width: 75%;
}

.hobbies, .experience, #contact {
  text-align: center;
}

.hobby-cards, .experience-cards {
  text-align: center;
  display: flex;
  justify-content: center;
}

.hobbies .card, .experience .card {
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  margin: 10px;
  background-color: #f9dbe3;
  border-radius: 10px;
  border: solid 2px #9c7491;
}

.card-title, figcaption {
  text-align: center;
  font-weight: 500;
  color: #4c7eb2;
}

.contact-details, .landingPage {
  display: inline-block;
  width: 30%;
  text-align: center;
}

.copyright {
  font-weight: 300;
  width: 30%;
  float: right;
}

.card a {
  font-weight: 400;
  color: #4c7eb2;
}

.card a:hover {
  background-color: #efc3d2;
}

.card img {
  width: 100%;
  border: solid 2px #9c7491;
  padding: 2px;
  border-radius: 10px;
}

.form {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  margin: 0px auto 5px auto;
  padding: 5px 20px 20px 20px;
  background-color: #f9dbe3;
  border-radius: 10px;
  border: solid 2px #9c7491;
}

label, textarea {
  display: inline-block;
  clear: left;
  text-align: left;
  width: 45%;
  margin: 5px;
  color: #4c7eb2;
}

input {
  display: inline-block;
  width: 45%;
}

textarea {
  vertical-align: top;
}

#submit {
  background-color: #9c7491;
  padding: 5px 10px;
  margin-top: 10px;
  color: white;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 12px;
}

#submit:hover {
  background-color: #4c7eb2;
}